@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    color: #0B1E46;
}

header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* barra de navegación */
    header div nav a{
        margin: 8px;
        color: #fff;
        font-size: 20px;
        text-decoration: none; /* quitar el subrayado */
    }

/* main */
main{
    min-height: 600px;
}

/* hero-banner */
#hero-banner{
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dtt
*/
    background: #5B86E5;
    background: linear-gradient(180deg, #5B86E5, #37D2DC);
}
    #hero-banner div{
        width: 1100px;
        height: 680px;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        #hero-banner div article{
            width: 478px;
            color: #fff;
        }
            #hero-banner div article h1{
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 40px;
            }
            #hero-banner div article h2{
                font-size: 40px;
            }

/* sección servicios */            
#servicios{
    width: 1100px;
    height: 414px;
    margin: auto;
    margin-top: 72px;
    padding: 32px 24px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    #servicios span{
        font-size: 24px;
        display: block;
        text-align: center;
        width: 100%;
    }
    #servicios article{
        width: 336px;
        height: 289px;
        padding: 24px 28px;
        margin-top: 32px;
        border: 2px solid #07B2FF;
        border-radius: 8px;
        color: #07B2FF;
    }
        #servicios article h2{
            font-weight: 300;
            margin-top: 24px;
            margin-bottom: 16px;
        }
        #servicios article a{
            display: block;
            margin-top: 8px;
            text-decoration: none;
            color: #07B2FF;
        }

/* sección portfolio */
    #portfolio{
        width: 1100px;
        height: 837px;
        margin: 72px auto 0px auto;
        padding: 32px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        #portfolio h3{
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-size: 24px;
        }

        #portfolio article{
            width: 340px;
            height: 340px;
            margin-top: 32px;
            border-radius: 8px;
        }
        #portfolio-1{
            background-image: url(../imgs/portfolio-1.png);
        }
        #portfolio-2{
            background-image: url(../imgs/portfolio-2.png);
        }
        #portfolio-3{
            background-image: url(../imgs/portfolio-3.png);
        }
        #portfolio-4{
            background-image: url(../imgs/portfolio-4.png);
        }
        #portfolio-5{
            background-image: url(../imgs/portfolio-5.png);
        }
        #portfolio-6{
            background-image: url(../imgs/portfolio-6.png);
        }
        
        #portfolio article a{
            display: block;
            width: 288px;
            padding: 8px 16px;
            margin-top: 252px;
            background-color: #fff;
            text-decoration: none;
        }
            #portfolio a h2{
                color: #07B2FF;
                font-size: 16px;
                font-weight: 400;
            }

        


/* footer */        
footer{
    background-color: #0B1E46;
    margin-top: 72px;
}
    footer div{
        width: 1100px;
        height: 216px;
        margin: auto;  
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        footer div nav a{
            margin: 16px;
        }